body{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;background-image:url("./media/background-BVJ6VZOC.png");background-size:cover;background-attachment:fixed}
