.img-title {
  display: flex;
  margin: auto;
  width: 25%;
  margin-top: 1%;
}

ul {
  margin-top: -1%;
  margin-right: 2.5%;
  text-align: center;
  list-style-type: none;
}

.mes-win {
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 20px;
}

table {
  margin: 0 auto;
  width: 75%;
}

th {
  background-color: #95A5A6;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: 3px;
}

td {
  padding: 20px 20px;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}

.correct {
  background-color: rgb(144, 238, 144);
}

.incorrect, .higher, .lower {
  background-color: rgb(227, 66, 52);
}

.partial {
  background-color: rgb(255, 253, 141);
}

.higher::before {
  content: "\25B2";
  font-size: 1rem;
  margin-right: 4px;
}

.lower::before {
  content: "\25BC";
  font-size: 1rem;
  margin-right: 4px;
}

/* Parent -> taille et position */
.recherche-global {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22.5%;
  margin: 20px auto;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

/* Barre -> remplit le parent */
.search-bar {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #95A5A6;
  color: #fff;
  border: 0;
  border-radius: 12.5px;
  font-size: 20px;
  box-sizing: border-box;
}

.search-bar:focus {
  outline: none;
}

/* Liste -> suit le parent */
.liste-resultats {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 55px;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
}

.perso-item {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.perso-item:hover {
  background-color: #f0f0f0;
}
