<h1>One Piece DLE 2.0</h1>

<div class="recherche-global">
  <input class="search-bar" type="text" [formControl]="searchInput" placeholder="Cherche un personnage...">

  <ul class="liste-resultats" *ngIf="personnagesAffiches.length > 0">
      <li *ngFor="let p of personnagesAffiches" (click)="selectionnerPersonnage(p)" class="perso-item">
          <span class="nom-perso">{{ p.nom }}</span>
      </li>
  </ul>
</div>

<div class="mes-win" *ngIf="partieGagnee"><h3>Félicitations ! Tu as trouvé le personnage !</h3></div>

<table>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Genre</th>
      <th>Affiliation</th>
      <th>Fruit Du Demon</th>
      <th>Haki</th>
      <th>Prime</th>
      <th>Hauteur</th>
      <th>Origine</th>
      <th>Premier Arc</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of tentatives" class="ligne-perso">
      <td>{{t.personnage.nom}}</td>
      <td [class.correct]="t.comparaison.genre === 'correct'" [class.incorrect]="t.comparaison.genre === 'incorrect'">
        {{t.personnage.genre}}
      </td>
      <td [class.correct]="t.comparaison.affiliation === 'correct'" [class.incorrect]="t.comparaison.affiliation === 'incorrect'" >
        {{t.personnage.affiliation}}
      </td>
      <td [class.correct]="t.comparaison.fruitDuDemon === 'correct'" [class.incorrect]="t.comparaison.fruitDuDemon === 'incorrect'">
        {{t.personnage.fruitDuDemon}}<span *ngIf="t.personnage.fruitDuDemon == null">✖</span>
      </td>
      <td [class.correct]="t.comparaison.haki === 'correct'" [class.incorrect]="t.comparaison.haki === 'incorrect'" [class.partial]="t.comparaison.haki === 'partial'">
        <span *ngIf="t.personnage.haki.includes('Royal')">👑</span><span *ngIf="t.personnage.haki.includes('Armement')">💪</span><span *ngIf="t.personnage.haki.includes('Observation')">👁️</span><span *ngIf="t.personnage.haki.length == 0">✖</span>
      </td>
      <td [class.correct]="t.comparaison.prime === 'correct'" [class.higher]="t.comparaison.prime === 'higher'" [class.lower]="t.comparaison.prime === 'lower'">
        {{t.personnage.prime | formatNombre:'prime'}} B
      </td>
      <td [class.correct]="t.comparaison.hauteur === 'correct'" [class.higher]="t.comparaison.hauteur === 'higher'" [class.lower]="t.comparaison.hauteur === 'lower'">
        {{t.personnage.hauteur| formatNombre:'hauteur'}}
      </td>
      <td [class.correct]="t.comparaison.origine === 'correct'" [class.incorrect]="t.comparaison.origine === 'incorrect'">
        {{t.personnage.origine}}
      </td>
      <td [class.correct]="t.comparaison.premierArc === 'correct'" [class.higher]="t.comparaison.premierArc === 'later'" [class.lower]="t.comparaison.premierArc === 'earlier'">
        {{t.personnage.premierArc}}
      </td>
    </tr>
  </tbody>

</table>


