h1 {
  text-align: center;
  font-size: 2.5rem;
}

.search-bar {
  color: #fff;
  border: 0;
  width: 35%;
  height: 12.5%;
  padding: 1.5%;
  background-color: #95A5A6;
  border-radius: 20px;
  transform: scale(0.5);
  font-size: 30px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-bar:focus {
  outline: none;
}

ul {
  margin-top: -1%;
  margin-right: 2.5%;
  text-align: center;
  list-style-type: none;
}

.mes-win {
  text-align: center;
  margin: 20px;
}

table {
  margin: 0 auto;
  width: 75%;
}

th {
  background-color: #95A5A6;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: 3px;
}

td {
  padding: 20px 20px;
  border-radius: 3px;
  text-align: center;
}

.correct {
  background-color: rgb(144, 238, 144);
}

.incorrect, .higher, .lower {
  background-color: rgb(227, 66, 52);
}

.partial {
  background-color: rgb(255, 253, 141);
}

.higher::before {
  content: "\25B2";
  font-size: 1rem;
  margin-right: 4px;
}

.lower::before {
  content: "\25BC";
  font-size: 1rem;
  margin-right: 4px;
}
