body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Part de la racine du site*/
  background-image: url('/assets/images/gotonewworld.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
